* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.content {
  position: relative;
  height: 90%;
  width: 75%;
  background: hsl(212, 45%, 89%);
  margin: 2% 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 6px 8px 0 rgba(0, 0, 0, 0.2);
}
.content-info {
  height: 267px;
  width: 185px;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.content img {
  height: 165px;
  border-radius: 10px;
}
.content-info h1 {
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  padding: 7px 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400px;
  font-style: normal;
  font-optical-sizing: auto;
}
.content-info p {
  font-size: 9px;
  text-align: center;
  color: hsl(220, 1%, 50%);
  font-family: "Outfit", sans-serif;
  font-weight: 200px;
  font-style: normal;
  font-optical-sizing: auto;
}
.attribution {
  position: absolute;
  bottom: 6px;
}
.attribution h1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  font-size: 11px;
}
.attribution a {
  text-decoration: none;
}
/*<uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Media Queries */
@media (max-width: 600px) {
  .content {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .attribution {
    bottom: 20px;
  }
  .content-info {
    height: 350px;
    width: 250px;
  }
  .content img {
    height: 220px;
  }
  .content-info h1 {
    font-size: 16px;
  }
  .content-info p,
  .attribution h1 {
    font-size: 13px;
  }
}
